{% extends "bootstrap/base.html" %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}アンケート回答{% endblock %}
{% block content %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>観劇後アンケート</h1>
    </div>
    <p>本日は演劇部の公演をご覧いただき、有り難うございました。</p>
    <p>
        皆様の率直なご意見・ご感想を参考に日々向上して参りたいと思います。
        お忙しい中お手数をおかけしますが、ぜひアンケートにご協力をお願いします。
    </p>

    <a href="/login" role="button">部員はこちら</a>

    <hr class="my-4">
    
    <form method="POST" action="/answered" class="questionnaire-form">
   
        <label class="form-label fw-bold mb-3 question">Q1. ご覧になった公演を選んでください</label>
            {% for per in performances%}
            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    name="performance" 
                    id="per{{ loop.index }}"
                    value="{{ per['performance_id'] }}"
                    required>
                <label class="form-check-label" for="per{{ loop.index }}">
                   {{ per['performance_name'] }}
                </label>
            </div>
            {% endfor %}
        <br>

        <label class="form-label fw-bold mb-3 question">Q2. ご来場のきっかけを教えてください</label>
            {% for chan in chances%}
            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="radio"    
                    name="chance" 
                    id="chan{{ loop.index }}"
                    value="{{ chan['chance_id'] }}"
                    required>
                <label class="form-check-label" for="chan{{ loop.index }}">
                    {{ chan['chance_text'] }}
                </label>
            </div>
            {% endfor %}
        <br>

        <label class="form-label fw-bold question">Q3. 総評を５段階で選んでください</label>
            <p>あまり良くなかった</p>
            {% for i in range(1, 6) %}
            <div class="form-check">
                <label class="form-check-label" for="{{ i }}">{{ i }}</label>
                <input
                    class="form-check-input"
                    type="radio"
                    name="rating"
                    id ="{{ i }}"
                    value="{{ i }}"
                    required>
            </div>
            {% endfor %}
            <p>とても良かった</p>
        <br>

        <div class="mb-3">
            <label for="feedback" class="form-label question">Q4. 今回の劇の感想をお願いします（任意）</label>
            <textarea class="form-control" id="feedback" name="feedback" rows="4" ></textarea>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">回答を送信する</button>
    </form>
    </div>
{% endblock %}
